VOC_RUNTIME_PROFILE=external_review
VOC_DATABASE_URL=
VOC_WRITER_PASSWORD_HASH=
VOC_DB_HOST=localhost
VOC_DB_PORT=5432
VOC_DB_NAME=학습용 Data
VOC_DB_USER=postgres
VOC_DB_PASSWORD=
VOC_API_BASE_URL=http://127.0.0.1:8000
